
<h3> Welcome  ...... {{name}} <img class="image" src="{{avatar}}" />  </h3>
<mat-card class="card">
  <mat-card-header>
    <h3>Enter your username and password: </h3>
  </mat-card-header>

<mat-card-content>
<form class="example-form" (ngSubmit)="submitForm()"> 
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput id="userid" placeholder=" " >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput id="userpass" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <p class="p-container">
    <button ngClick="Submit"  mat-raised-button color="primary" >Submit</button>
  </p>

</form>
</mat-card-content>
</mat-card>

